
.vertical-middle {
    vertical-align: middle;
}

.active-able:active, button:active {
    opacity: .7;
    transition: opacity .1s;
}

button {
    background: none;
    user-select: none;
    cursor: pointer;
}


html, body, #__layout, #__nuxt {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: inherit;
}


.pointer {
    cursor: pointer;
}

.primary-btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #04e1c9;

}

.primary-btn:disabled {
    opacity: .7;
}
.primary-btn:disabled:hover {
    opacity: .7;
}

.primary-btn:hover {
    opacity: .8;
}

.primary-btn:active {
    opacity: .6;
}

.red {
    color: red;
}

.gary {
    color: #706e6e;
}
:root {
    --van-text-color:#fff;
    --van-button-primary-color: var(--van-white);
    --van-button-primary-background-color: var(--van-primary-color);
}